{% extends 'index.html' %}

{% block content %}
<div class="container">
  <div class="card mt-5">
    <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="email">Email</label>
                  <input type="email" name="email" class="form-control" id="email" placeholder="Enter email" required>
              </div>
              <div class="form-group col-md-6">
                  <label for="mobile">Mobile</label>
                  <input type="text" name="mobile" class="form-control" id="mobile" placeholder="Enter mobile" required>
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="name">Name</label>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Enter name" required>
              </div>
              <div class="form-group col-md-6">
                <label for="father_name">Father's Name</label>
                <input type="text" name="father_name" class="form-control" id="father_name" placeholder="Enter father's name">
            </div>
              
          </div>
          <div class="form-row">
              
              <div class="form-group col-md-6">
                  <label for="mother_name">Mother's Name</label>
                  <input type="text" name="mother_name" class="form-control" id="mother_name" placeholder="Enter mother's name">
              </div>
              <div class="form-group col-md-6">
                <label for="dob">Date of Birth</label>
                <input type="date" name="dob" class="form-control" id="dob" required>
            </div>
          </div>
          <div class="form-row">
              
              <div class="form-group col-md-6">
                  <label for="qualification">Qualification</label>
                  <input type="text" name="qualification" class="form-control" id="qualification" placeholder="Enter qualification">
              </div>
              <div class="form-group col-md-6">
                <label for="nationality">Nationality</label>
                <input type="text" name="nationality" class="form-control" id="nationality" placeholder="Enter nationality">
            </div>
          </div>
          <div class="form-row">
              
              <div class="form-group col-md-6">
                  <label for="other_field">Other Field</label>
                  <input type="text" name="other_field" class="form-control" id="other_field" placeholder="Enter other field">
              </div>
              <div class="form-group col-md-6">
                <label for="address">Address</label>
                <textarea name="address" class="form-control" id="address" placeholder="Enter address"></textarea>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>
    
    </div>
  </div>
</div>
{% endblock %}
