
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Digital Diary</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/">
  <!-- Add your custom CSS styles here -->
  <style>
    /* Custom styles */
    body {
      padding: 20px;
    }
    .container {
      max-width: 400px;
      margin: 0 auto;
    }
  </style>
</head>
<body style="background: aliceblue;">
  <header>
    <h1 style="
      text-align: center;
      margin-top: 10px;
      margin-bottom: 70px;">Digital Diary</h1>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <!-- Include Bootstrap JS files -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>

